body
{
    
   margin: 0;
    font-family: 'Gabarito', cursive;
    font-family: 'Poppins', sans-serif;
}
.highlite
{
    color: red;
   
}
h1{
    font-size: 40px;
}
.half-width-left
{
    width: 35%;
    height: 300px;
    margin-left: 30px;
    float: left;
    
    margin-top: 10px;
    
    
}
.half-width-right
{
    width: 42%;
    height: 100px;
    margin-left: 30px;
    float: left;
    
    margin-top: 10px;
}
.half-width-right img
{
    width: 80%;
    margin-left: 300px;
    margin-top: 50px;
    
}
.second-banner .half-width-left img
{
    width: 80%;
}
.second-banner .half-width-left
{
    width: 42%;
}
.second-banner .half-width-right
{
    margin-left: 200px;
}
 p
{
    font-size: 20px;
}

.top-banner
{
    background-image: url("images/top-banner.png");
   
    height: 400px;
    background-repeat: no-repeat;
    margin-bottom: 200px;
    
}
.link-button
{
    text-decoration: none;
    background-image: linear-gradient(90deg, lightsalmon, tomato);
    border-radius: 10px;
    padding: 10px 10px;
    color: aliceblue;
}
.second-banner
{
   
   background-image: url("images/dream-bg.png");
   height: 300px;
   background-repeat: no-repeat;
   background-position: right;
   position: relative;
   margin-bottom: 300px;
   margin-left: 50px;
   
}
.last-section h3
{
   font-size: 15px;
   color: red;
}
.expariance
{
    box-shadow: 10px 10px 20px black;
    margin-bottom: 50px;
    height: 250px;
    padding: 10px 10px;
}
.last-section
{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    height: 400px;
    margin-bottom: 50px;
}
.half-width-left1
{
    float: left;
    width: 40%;
    margin-left: 50px;
}
.half-width-right1
{
    float: left;
    width: 40%;
    margin-left: 50px;
}
#baby
{
    border-left: 10px solid;
    border-image: linear-gradient(45deg,orange,red);
    border-image-slice: 1;
}
#full
{
    border-left: 10px solid;
    border-image: linear-gradient(rgb(0, 13, 255),rgb(0, 255, 229));
    border-image-slice: 1;
}
.about-me a
{
    text-decoration: none;
    background-image: linear-gradient(140deg, rgb(16, 228, 172), rgb(54, 17, 220));
    border-radius: 10px;
    padding: 10px 50px;
    color: aliceblue;
    margin-left: 635px;
    
}
.about-me
{
   
    margin-bottom: 200px;
}
footer
{
    font-size: 15px;
    text-align: center;
    color: cadetblue;
}
